.main-container{
    background-image:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("/assets/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    align-items: center center;
    margin: 50px 140px;
    background-position: center center;
    border-radius: 50px;
    
    
}
.main-content{
    align-items: center;
    text-align: center;
    padding-top: 177px;
    
}
.title-heading{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: px;
}
.input{
    margin-top: 40px;
    display: inline-flex;
padding: 16px;
align-items: flex-start;
gap: 24px;
background: rgba(255, 255, 255, 0.30);



}
.input select{
    margin-right: 10px;
    width: 150px;
height: 52px;
border-radius: 8px;

}
.input input{
    margin-right: 10px;
    width: 150px;
    height: 52px;
    border-radius: 8px;
}
.input button{
   
    width: 150px;
    height: 52px;
    border-radius: 8px;
}

.heading{
 color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px;
margin-top: 30px;
}
li {
    display: flex;
    justify-content: space-between;
}